/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}
:root{
    --title: #e52f6f;
    --text: #5e5b5d;
    --box-card: #0f0e17;
    --name-crewmate: #fffffa;
    --bgwhite: #fffffe;
    --email: #26b8ef;
}
h1{
    font-size: 3rem;
    color: var(--title);
    padding-bottom: 4rem;
}
h4{
    color: var(--name-crewmate);
}
p{
    font-size: 1.2rem;
    color: var(--text);
}
/* /General */

/* Utility */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Utility */

/*Selector div container*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--bgwhite);
}
/* /Selector div container */

/* header */
.header-box{
    text-align: center;
    padding-top: 4rem;
}
/* /header */

/* cards-box */
.col{
    width: calc(100% / 3);
    float: left;
}
.box-card{
    margin-top: 5rem;
    height: 8rem;
    border: 1px solid black;
    float: left;
    background-color: var(--box-card);
}
.photo-card{
    height: 100%;
    object-fit: cover;
    float: left;
    padding-right: 1rem;
    opacity: 0.9;

    
    
}
.crewmate{
    float: left;
    padding: 1rem 0rem 0rem 1rem;
    line-height: 2rem;
}
.name-crew-mate{
    color:var(--name-crewmate)
}

.email{
    text-decoration:none;
    color: var(--email);
}

/* cards-box */

